*{margin: 0;padding: 0;outline: 0;}

body {
    font-family: verdana;
    font-size: 18px;
    color: #444;
}

.wrapper{width: 900px; margin: 0 auto;}
.clear{overflow: hidden;}

.headersection,.footersection{
    background: #ddd;
    padding: 10px;
    text-align: center;
}

.headersection h2,.footersection h2{margin: 0;}

.content {
    min-height: 450px;
    border: 15px solid #ddd;
}

.box {
    border: 5px solid #999;
    margin: 30px auto 0;
    padding: 20px;
    width: 750px;
    height: 200px;
    overflow: scroll;
}
.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.box ul li {
    display: block;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 6px;
    padding-bottom: 5px;
}
.box ul li:last-child{border-bottom: 0px dashed #ddd;}
.box span{color: #831a90;}
.box b{color: #0a8e3f;}

.shoutfrom {
    border: 5px solid #999;
    margin: 25px auto 10px;
    padding: 20px;
    width: 750px;
}
input[type='text'] {
    padding: 5px;
    width: 500px;
    margin-bottom: 10px;
}
input[type='submit'] {
    background: #666;
    border: 1px solid #444;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 20px;
}

input[type='submit']:hover{background: #0a8e3f; color: #fff;}

